/* Стилі для заголовка */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
 
/* Стилі для навігаційного меню */
nav ul {
    list-style: none;
    padding: 0;
    background-color: #333;
    text-align: center;
}
 
nav ul li {
    display: inline;
    margin-right: 20px;
}
 
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
 
/* Стилі для розділів (секцій) */
section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}
 
/* Стилі для зображення (фото) */
img {
    max-width: 100%;
    height: auto;
}
 
/* Стилі для списків */
ul {
    list-style: disc;
    padding-left: 20px;
}
 
/* Стилі для футера */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
